{% extends 'base.html' %}

{% block content %}
<script>
<!--
function timedRefresh(timeoutPeriod) {
	setTimeout("location.reload(true);",timeoutPeriod);
}

window.onload = timedRefresh(5000);

//   -->
</script>

<table>
    <tr>
      <th>Timestamp</th>
      <th>Group</th>
      <th>Score</th>
    </tr>

{% for submission in submissions %}
        

    <tr>
      <td>{{ submission[2] }}</td>
      <td><a href="{{ url_for('RetrieveSingleGroup',id=submission[1])}}">{{ submission[1] }}</a></td>
      <td>{{ submission[0] }}</td>
    </tr>
    {% endfor %}
  </table>


        
         
            
           
    
    
{% endblock %}